<!--다국어 지원 기능-->
{% load i18n %}

<!-- 번역할 문자열 -->
{% trans "맵모리" %}
{% trans "당신의 추억을 지도로 그리는, 당신의 Mapmory 지금 시작하세요." %}
{% trans "아이디" %}
{% trans "비밀번호" %}
{% trans "비밀번호 확인" %}
{% trans "이메일" %}
{% trans "가입" %}
{% trans "나의 지도" %}
{% trans "취소" %}
{% trans "등록" %}
{% trans "제목" %}
{% trans "글쓰기" %}
{% trans "업로드할 사진을 선택하세요" %}
{% trans "선택한 사진의 장소를 입력하세요." %}
{% trans "정확한 명칭을 입력하세요." %}
{% trans "성심당, 대전 성심당" %}
{% trans "게시 완료" %}
{% trans "다음은 해시태그를 기반으로 회원님께 추천되는 게시물입니다." %}
{% trans "검색할 지역을 입력하세요" %}
{% trans "마이페이지" %}
{% trans "내 정보 수정하기" %}
{% trans "나이" %}
{% trans "여행 스타일" %}
{% trans "자주 사용하는 키워드" %}
{% trans "내가 작성한 글" %}
{% trans "본문" %}
{% trans "수정하기" %}
{% trans "설정" %}
{% trans "언어 설정" %}
{% trans "한국어" %}
{% trans "영어" %}
{% trans "일본어" %}
{% trans "중국어" %}
{% trans "더보기" %}
{% trans "다크 모드" %}
{% trans "라이트 모드" %}
{% trans "알림 설정" %}
{% trans "푸시 알림" %}
{% trans "야간 푸시 알림(21~08시)" %}
{% trans "보안" %}
{% trans "연결된 이메일" %}
{% trans "비밀번호 관리" %}
{% trans "자주 묻는 질문" %}
<!--해시태그-->
{% trans "분위기" %}
{% trans "조용한" %}
{% trans "힙한" %}
{% trans "E들의" %}
{% trans "시끄러운" %}
{% trans "화려한" %}
{% trans "편안한" %}
{% trans "I들의" %}
{% trans "귀여운" %}
{% trans "음식" %}
{% trans "한식" %}
{% trans "중식" %}
{% trans "일식" %}
{% trans "양식" %}
{% trans "추천이유" %}
{% trans "사진찍기좋은" %}
{% trans "단체모임" %}
{% trans "혼밥하기좋은" %}
{% trans "넓은" %}
{% trans "요즘뜨는" %}
{% trans "뷰맛집" %}
{% trans "먹방" %}
{% trans "데이트하기좋은" %}
{% trans "재밌는" %}
{% trans "개발자에게 해시태그를 추천해주세요!" %}
{% trans "추천 받을 해시태그" %}