<!DOCTYPE html>
<html>
<head>
    <title>글 작성 페이지</title>
</head>
<body>
    <h1>글 작성 페이지</h1>
    <div>
        <p>선택한 해시태그:</p>
        <ul>
        {% for hashtag in selected_hashtags %}
            <li>{{ hashtag }}</li>
        {% endfor %}
        </ul>
    </div>
    <br>
    <div class="postimage">
        <h3>이미지업로드</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input name="post_image" type="file">
        </form>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>작성 시간: {{ form.datetime.value }}</p>
        <button type="submit">글 작성</button>

    </form>
</body>
</html>
